@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

input {
  margin: 15px;
  border-radius: 10px;
  border: #ec6e4c;
  background-color: #f8efec;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 5px;
}

button {
  border-radius: 50px;
  color: #ec6e4c;
  background-color: #f8efec;
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  font-size: 22px;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

body {
  color: rgb(29, 29, 29);
  font-family: "Quicksand", sans-serif;
  background-color: rgb(255, 254, 253);
  max-width: 1200px;
  margin: 20px auto;
}

h1,
h2,
h3,
p {
  text-align: center;
}

h1 {
  font-size: 45px;
  line-height: 100px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

h4 {
  margin-top: 25px;
  font-weight: 900;
}

h5 {
  font-size: 21px;
}

h6 {
  font-size: 45px;
  text-align: center;
  margin: 4px;
}

a {
  color: rgb(3, 20, 41);
}

a:hover {
  color: #ec6e4c;
  text-decoration: none;
}

.active {
  color: #ec6e4c;
}

#forecastBox {
  padding: 15px;
  border-style: solid;
  margin: 5px;
  border-radius: 10px;
  border-color: #ec6e4c;
  border-width: 2px;
  background-color: #f8efec;
}

#icon {
  width: 200px;
}
